<?xml version="1.0" encoding="utf-8"?>
<resources>
    <!-- Max number of columns for power menu -->
    <integer name="power_menu_max_columns">3</integer>
    <!-- Max number of columns for power menu lite -->
    <integer name="power_menu_lite_max_columns">2</integer>
    <!-- Max number of rows for power menu lite -->
    <integer name="power_menu_lite_max_rows">4</integer>
</resources>

