<?xml version="1.0" encoding="utf-8"?>
<resources>
    <dimen name="qs_tile_height">58dp</dimen>
    <!--notification_side_paddings + notification_content_margin_start - (qs_quick_tile_size - qs_tile_background_size) / 2 -->
    <dimen name="qs_tile_layout_margin_side">18dp</dimen>
    <dimen name="qs_tile_margin_horizontal">8dp</dimen>
    <dimen name="qs_tile_margin_vertical">@dimen/qs_tile_margin_horizontal</dimen>
    <dimen name="qs_tile_margin_top_bottom">4dp</dimen>
    <dimen name="qs_tile_margin_top_bottom_negative">-4dp</dimen>
    <dimen name="qs_brightness_margin_top">8dp</dimen>
    <dimen name="qs_brightness_margin_bottom">24dp</dimen>
    <dimen name="qqs_layout_margin_top">16dp</dimen>
    <!-- The height of the qs customize header. Should be
         (qs_panel_padding_top (48dp) +  brightness_mirror_height (48dp) + qs_brightness_margin_top(8dp) + qs_brightness_margin_bottom (24dp)) -
         (Toolbar_minWidth (56dp) + qs_tile_margin_top_bottom (4dp))
    -->
    <dimen name="qs_customize_header_min_height">68dp</dimen>
    <dimen name="qs_customize_internal_side_paddings">8dp</dimen>
    <dimen name="qs_tile_icon_background_stroke_width">-1dp</dimen>
    <dimen name="qs_tile_background_size">56dp</dimen>
    <dimen name="qs_icon_size">20dp</dimen>
    <dimen name="qs_side_view_size">28dp</dimen>
    <dimen name="qs_label_container_margin">2dp</dimen>
    <dimen name="qs_quick_tile_size">60dp</dimen>
    <dimen name="qs_tile_padding">12dp</dimen>
    <dimen name="qs_tile_start_padding">8dp</dimen>
    <dimen name="qs_drawable_end_margin">4dp</dimen>
    <dimen name="qs_header_gear_translation">16dp</dimen>
    <dimen name="qs_header_tile_margin_bottom">8dp</dimen>
    <dimen name="qs_page_indicator_width">16dp</dimen>
    <dimen name="qs_page_indicator_height">8dp</dimen>
    <!-- The size of a single dot in relation to the whole animation.
         Scaled @dimen/qs_page_indicator-width by .4f.
    -->
    <dimen name="qs_page_indicator_dot_width">6.4dp</dimen>
    <dimen name="qs_tile_divider_height">1dp</dimen>
    <dimen name="qs_panel_padding">8dp</dimen>
    <dimen name="qs_dual_tile_height">112dp</dimen>
    <dimen name="qs_dual_tile_padding_vertical">8dp</dimen>
    <dimen name="qs_dual_tile_padding_horizontal">6dp</dimen>
    <dimen name="qs_tile_padding_top">14dp</dimen>
    <dimen name="qs_tile_padding_top_large_text">4dp</dimen>
    <dimen name="qs_tile_padding_bottom">16dp</dimen>
    <dimen name="qs_tile_spacing">4dp</dimen>
    <dimen name="qs_panel_padding_bottom">0dp</dimen>
    <dimen name="qs_panel_padding_top">48dp</dimen>
    <dimen name="qs_detail_header_height">56dp</dimen>
    <dimen name="qs_detail_header_padding">0dp</dimen>
    <dimen name="qs_detail_image_width">56dp</dimen>
    <dimen name="qs_detail_image_height">56dp</dimen>
    <dimen name="qs_detail_image_padding">16dp</dimen>
    <dimen name="qs_detail_item_height">48dp</dimen>
    <dimen name="qs_detail_header_text_size">20sp</dimen>
    <dimen name="qs_detail_button_text_size">14sp</dimen>
    <dimen name="qs_detail_item_primary_text_size">16sp</dimen>
    <dimen name="qs_detail_item_secondary_text_size">14sp</dimen>
    <dimen name="qs_detail_empty_text_size">14sp</dimen>
    <dimen name="qs_detail_margin_top">28dp</dimen>
    <dimen name="qs_detail_back_margin_end">16dp</dimen>
    <dimen name="qs_detail_header_text_padding">16dp</dimen>
    <dimen name="qs_data_usage_text_size">14sp</dimen>
    <dimen name="qs_data_usage_usage_text_size">36sp</dimen>
    <dimen name="qs_battery_padding">2dp</dimen>
    <dimen name="qs_detail_padding_start">16dp</dimen>
    <dimen name="qs_detail_items_padding_top">4dp</dimen>
    <dimen name="qs_detail_item_icon_size">24dp</dimen>
    <dimen name="qs_detail_item_icon_width">32dp</dimen>
    <dimen name="qs_detail_item_icon_marginStart">0dp</dimen>
    <dimen name="qs_detail_item_icon_marginEnd">10dp</dimen>
    <dimen name="qs_header_alarm_icon_size">15dp</dimen>
    <dimen name="qs_header_mobile_icon_size">15dp</dimen>
    <dimen name="qs_header_alarm_text_margin_start">6dp</dimen>
    <dimen name="qs_header_separator_width">8dp</dimen>
    <dimen name="qs_header_carrier_separator_width">6dp</dimen>
    <dimen name="qs_status_separator">32dp</dimen>
    <dimen name="qs_carrier_margin_width">4dp</dimen>
    <dimen name="qs_footer_icon_size">20dp</dimen>
    <dimen name="qs_header_top_padding">15dp</dimen>
    <dimen name="qs_header_bottom_padding">14dp</dimen>
    <dimen name="qs_footer_padding">20dp</dimen>
    <dimen name="qs_security_footer_height">48dp</dimen>
    <dimen name="qs_security_footer_single_line_height">48dp</dimen>
    <dimen name="qs_footers_margin_bottom">8dp</dimen>
    <dimen name="qs_security_footer_background_inset">0dp</dimen>
    <dimen name="qs_notif_collapsed_space">64dp</dimen>
    <!-- Desired qs icon overlay size. -->
    <dimen name="qs_detail_icon_overlay_size">24dp</dimen>
    <dimen name="segmented_button_spacing">0dp</dimen>
    <dimen name="borderless_button_radius">2dp</dimen>
    <dimen name="restricted_padlock_pading">4dp</dimen>
    <!-- How far the expanded QS panel peeks from the header in collapsed state. -->
    <dimen name="qs_peek_height">0dp</dimen>
    <!-- How large the icons in the quick settings footer dialog are -->
    <dimen name="qs_footer_dialog_icon_size">24sp</dimen>
    <!-- Left and right margin of the icons -->
    <dimen name="qs_footer_dialog_icon_margin">8sp</dimen>
    <!-- Padding between subtitles and the following text in the QSFooter dialog -->
    <dimen name="qs_footer_dialog_subtitle_padding">20dp</dimen>
    <dimen name="seek_bar_height">3dp</dimen>
    <dimen name="seek_bar_corner_radius">3dp</dimen>
    <!-- Whether to show estimate in QS header. Default to false in case there's not enough
     space -->
    <bool name="config_showBatteryEstimateQSBH">true</bool>
</resources>

