<?xml version="1.0" encoding="utf-8"?>
<resources>
     <!--  Maximum number of supported users -->
    <integer name="config_multiuserMaximumUsers">2</integer>
    <!-- Maximum number of users we allow to be running at a time -->
    <integer name="config_multiuserMaxRunningUsers">2</integer>

</resources>

