<?xml version="1.0" encoding="utf-8"?>
<resources>
    <!-- Control whether the always on display mode is available. This should only be enabled on
    devices where the display has been tuned to be power efficient in DOZE and/or DOZE_SUSPEND
    states. -->
    <bool name="config_dozeAlwaysOnDisplayAvailable">true</bool>
</resources>
